.chat-box-container {
    position: absolute;
    bottom: 1%;
    right: 1%;
    height: 690px;
    width: 400px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 30px 5px rgb(0, 0, 0);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-image: url("CMRTC_logo.png"); /* Updated path */
    background-size: cover;
    background-position: center;
}

.chat-box-bottom input {
    border-radius: 15px;
    padding: 10px;
    flex: 1;
    outline: none;
}

.chat-box-bottom button {
    margin: 5px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    height: 45px;
    width: 45px;
}

.s2t-mic-btn:hover .s2t-mic-btn-icon {
    color: #70ef50;
}

.speach-btn:hover .speach-btn-icon {
    color: #65ef50;
}

.chat-box-middle {
    overflow-y: auto;
    overflow-wrap: break-word;
}


/*logo in background*/

.chat-box-middle {
    position: relative;
}
img {
    opacity: 0.1;
}
.chat-box-middle .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    opacity: 0.001;
    z-index: 0;
}